@import '../styles/variables';

footer {
  background-color: $eggplant;
  color: $pearl;
  padding: 1rem;
  text-align: center;
  width: 100%;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  margin-top: auto;
}

footer a {
  color: $pearl;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

footer a:hover {
  color: $battleship-gray;
}

footer p {
  margin: 0;
}
