.tooltip-content {
  visibility: hidden;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(51, 51, 51, 0.95);
  color: #E0D8DE;
  text-align: center;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  width: 220px;
  font-size: 0.8rem;
  line-height: 1.4;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(51, 51, 51, 0.95) transparent transparent transparent;
  }
}
.tooltip-container {
  position: relative;
  display: inline-flex;
  align-items: center;

  &:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
  }


}